<div id="suits-contain">
  <img id="contenedorbkg" src="<%= asset_path('refer/contenedorbkg.jpg') %>"/>
  <div id="footer">
    <img id="separador1" src="<%= asset_path('refer/separador1.png') %>"/>
    <div id="getmeasured">
      <p class="text-style-2">
        Get Measured
      </p>
    </div>
    <img id="separador3" src="<%= asset_path('refer/separador3.png') %>"/>
    <div id="ourcollection">
      <p class="text-style-2">
        Our Collection
      </p>
    </div>
    <img id="separador2" src="<%= asset_path('refer/separador2.png') %>"/>
    <div id="aboutus">
      <p class="text-style-2">
        About Us
      </p>
    </div>
    <div id="copyright">
      <p class="text-style-1">
        &#169; Copyright SnapSuits<span class="span-1">&#8482;</span> 2015, <span class="span">CALL: 323-510-SNAP</span>
      </p>
    </div>
  </div>
  <div id="header">
    <div id="logo">
      <a href="#url" title="#url">
        <img id="snapsuits" src="<%= asset_path('refer/snapsuits.png') %>"/>
      </a>
    </div>
    <div id="thanks-1">
      <div id="thanks">
        <p class="text-style-5">
          THANK YOU FOR SIGNING UP
        </p>
      </div>
    </div>
  </div>
  <div id="contenedorrewards">
    <div id="rewards">
      <div id="rewardstitulo">
        <p class="text-style-6">
          Here&#8217;s what you get:
        </p>
      </div>
    </div>
    <div id="contenedor1">
      <div id="friendsjoinedguide">
        <p class="text-style-9">
          Friends joined
        </p>
      </div>
      <img id="circulo1" src="<%= asset_path('refer/circulo1.png') %>"/>
      <div id="text-4">
        <p class="text-style-11">
          5
        </p>
      </div>
      <img id="circulo2" src="<%= asset_path('refer/circulo2.png') %>"/>
      <div id="text-3">
        <p class="text-style-11">
          10
        </p>
      </div>
      <img id="circulo3" src="<%= asset_path('refer/circulo3.png') %>"/>
      <div id="text-2">
        <p class="text-style-11">
          25
        </p>
      </div>
      <img id="circulo4" src="<%= asset_path('refer/circulo4.png') %>"/>
      <div id="text-1">
        <p class="text-style-11">
          50
        </p>
      </div>
      <img id="circulorojo" src="<%= asset_path('refer/circulorojo.png') %>"/>
      <div id="text">
        <p class="text-style-12">
          100
        </p>
      </div>
    </div>
    <div id="contenedor2">
      <div id="snapsuitsgoodies">
        <p class="text-style-7">
          SnapSuits goodies
        </p>
      </div>
      <div id="additional10off">
        <p>
          Additional $10 off any item
        </p>
      </div>
      <div id="freesilkblackbow">
        <p>
          Free Silk Black Bow Tie 
        </p>
      </div>
      <div id="offanyitem">
        <p>
          $30 off any item on the site 
        </p>
      </div>
      <div id="freeshirt">
        <p>
          Free Shirt
        </p>
        <p>
          ($50 Value)
        </p>
      </div>
      <div id="freecustomsuit">
        <p>
          Free Custom Suit ($250 Value)
        </p>
      </div>
    </div>
    <div id="friendsjoined-1">
      <div id="friendsjoined">
        <p class="text-style-8">
          <%= @user.referrals.count %> Friends joined
        </p>
      </div>
    </div>
    <div id="keepchecking-1">
      <div id="keepchecking">
        <p class="text-style-10">
          Keep checking
        </p>
      </div>
    </div>
  </div>
  <div id="slide">
    <div id="tellyourcompany">
      <div id="tellyourcompany-title">
        <p class="text-style-4">
          TELL YOUR ENTIRE COMPANY
        </p>
      </div>
    </div>
    <div id="textcopy-1">
      <img id="textcopy" src="<%= asset_path('refer/textcopy.png') %>"/>
    </div>
    <div id="socialicons">
      <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>" title="Facebook">
        <img id="fb" src="<%= asset_path('refer/fb.png') %>"/>
      </a>
      <img id="separador5" src="<%= asset_path('refer/separador5.png') %>"/>
      <% twitter_message = "#Suits are evolving. Excited for SnapSuits to launch." %>
      <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" title="Twitter">
        <img id="twitter" src="<%= asset_path('refer/twitter.png') %>"/>
      </a>
    </div>
  </div>

  <div id="copylink">
    <div id="copylinkfield">
      <p class="text-style-3" style="color:#ffffff">
        snapsuits.com/?ref=<%= CGI::escape(@user.referral_code) %>
      </p>
    </div>
    <a title="Copy" id="copy-link">
      <img id="copylinkbutton" data-clipboard-text="snapsuits.com/?ref=<%= CGI::escape(@user.referral_code) %>" src="<%= asset_path('refer/copylinkbutton.jpg')%>"/>
    </a>
  </div>
</div>